.icon {
  @apply inline-block bg-primary;
  @apply dark:(bg-white);
  width: 150px;
  height: 49px;
  mask-image: url('../../../../../assets/images/svg-icons/logo_blue.svg');
  -webkit-mask-image: url('../../../../../assets/images/svg-icons/logo_blue.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}


/* Social section */

.social {

  // .social__text

  &__text {
    @apply text-sm text-cGrey;
  }

  // .social__icon

  &__icon {
    @apply text-4xl text-primary rounded-full transition-300 ;
    @apply hover:(text-sky-500 cursor-pointer scale-115);
    @apply dark:text-white;
    @apply dark:hover:(text-emerald-500);

  }
}


/* Navigation links section */

.navigation {
  @apply flex justify-between items-start gap-x-25;

}

.navigation-links {
  @apply flex flex-col gap-y-2;

		// .navigation-links__title

		&__title {
      @apply px-2 text-base mb-6 font-extrabold;
		}
}


/* Contact links section */

.contact {
  @apply flex justify-between items-start gap-x-25;
}

.contact-links {
  @apply flex flex-col gap-y-2 max-w-66;

		// .contact-links__title

		&__title {
      @apply text-base mb-6 font-extrabold;
		}
}


/* Additional section */

.additional {

  // .additional__rights

  &__rights {
    @apply mr-a;
  }

  // .additional__policy

  &__policy {
  }

  // .additional__terms

  &__terms {
  }
}
