.icon {
  @apply inline-block bg-primary dark:bg-white;
  width: 150px;
  height: 49px;
  mask-image: url('../../../../../assets/images/svg-icons/logo_blue.svg');
  -webkit-mask-image: url('../../../../../assets/images/svg-icons/logo_blue.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.footer-links {
  @apply flex justify-between items-start gap-x-25;

  // .footer-links__title

  &__title {
    @apply px-2 text-base  font-extrabold;
  }

}

.footer-links-container {
  @apply flex flex-col gap-y-2;
}

.contact {
  @apply flex flex-col items-start;

  // .contact__title

  &__title {
    @apply text-base font-extrabold pb-4;
  }

  // .contact__content

  &__content {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    row-gap: 10px;
    column-gap: 40px;
  }

  // .contact__phone

  &__phone {
    @apply text-sm;

  }

  // .contact__email

  &__email {
    @apply text-sm font-extrabold;

  }

  // .contact__address

  &__address {
    @apply text-sm;

  }

  // .contact__driving

  &__driving {
    @apply text-sm font-extrabold;
  }
}

.social {
  @apply flex flex-col items-left;
  // .social__title

  &__title {
    @apply text-base font-extrabold pb-4;
  }

  // .social__icons

  &__icons {
    @apply flex items-center gap-x-4;
  }

  // .social__icon

  &__icon {
    @apply text-4xl text-primary rounded-full;
    @apply dark:text-white;
  }
}

.additional {
  @apply w-full flex justify-start items-center gap-x-25;

  // .additional__policy

  &__policy {
  }

  // .additional__terms

  &__terms {

  }

  // .additional__rights

  &__rights {
    @apply ml-auto;
  }
}
