@import './variables.scss';
body {
  overflow-x: hidden;
}

#app {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.shadow-btn {
  background: #FFFFFF;

  /* Shadow_button */
  box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
  border-radius: 6px;
}

.shadow-card-1 {
  background: #FFFFFF;

  /* Shadow_card_1 */
  box-shadow: 0px 2px 20px 17px rgba(24, 92, 255, 0.04);
  border-radius: 6px;
}

.shadow-card-2 {
  background: #FFFFFF;

  /* Shadow_card_2 */
  box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  border-radius: 6px;
}

.shadow-card-3 {
  background: #FFFFFF;

  /* Shadow_card_3 */
  box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
  border-radius: 6px;
}

.shadow-dropdown {
  background: #FFFFFF;

  /* Shadow_dropdown */
  box-shadow: 0px 2px 6px rgba(0, 43, 78, 0.15), 0px 1px 2px rgba(0, 43, 78, 0.3);
  border-radius: 6px;
}

.element-disabled {
  opacity: 0.66;
  pointer-events: none;
  color: rgba(var(--c-grey));

  &:hover {
    transform: scale(1) !important;
  }
}

.scroll-invisible {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.6);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.highlight {
  color: #185cff;
}

a:active {
  border:none;
  outline:none;
}


.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: scale(0);
}

.modal-enter-to,
.modal-leave-from {
  opacity: 1;
  transform: scale(1);
}

.modal-enter-active {
  transition: all 0.5s ease;
}

.modal-leave-active {
  transition: all 0.25s ease;
}

.scroll-hidden {
  overflow: hidden;
}
