@import './variables.scss';

html, body {
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;
}

html[opacity="fullOpacity"] {
	--opacity: 1;
}

html[opacity="halfOpacity"] {
	--opacity: 0.5;
}

html[opacity="lowOpacity"] {
	--opacity: 0.25;
}

.shadow-btn {
	background: #FFFFFF;

	/* Shadow_button */
	box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
	border-radius: 6px;
}

.shadow-card-1 {
	background: #FFFFFF;

	/* Shadow_card_1 */
	box-shadow: 0px 2px 20px 17px rgba(24, 92, 255, 0.04);
	border-radius: 6px;
}

.shadow-card-2 {
	background: #FFFFFF;

	/* Shadow_card_2 */
	box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
	border-radius: 6px;
}

.shadow-card-3 {
	background: #FFFFFF;

	/* Shadow_card_3 */
	box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
	border-radius: 6px;
}

.shadow-dropdown {
	background: #FFFFFF;

	/* Shadow_dropdown */
	box-shadow: 0px 2px 6px rgba(0, 43, 78, 0.15), 0px 1px 2px rgba(0, 43, 78, 0.3);
	border-radius: 6px;
}

.element-disabled {
  opacity: 0.66;
  pointer-events: none;
  color: rgba(var(--c-grey));
  &:hover {
    transform: scale(1) !important;
  }
}
