:root {
	--opacity: 1;
  --primary: 24, 95, 225;
	--secondary: 0, 43, 78;
	--helper-blue-one: 207, 59, 24;
	--helper-blue-two: 207, 21, 48;
	--helper-blue-three: 201, 220, 236;
	--c-black: 41, 45, 51;
	--c-white: 240, 249, 255;
	--c-grey: 148, 151, 161;
	--c-background: 241, 246, 250;
  --tertiary: 240, 249, 255;
	--c-red: 193, 64, 64;
}



/* html.light {
  --mainAccent: var(--white);
  --main: var(--light-300);
  --mainWeakAnti: var(--light-500);

  --antiMain: var(--dark-900);
  --antiMainAccent: var(--black);
}

// Override variables for dark theme
html.dark {
  --mainAccent: var(--black);
  --main: var(--dark-900);
  --mainWeakAnti: var(--dark-700);

  --antiMain: var(--light-50);
  --antiMainAccent: var(--white);
}
  */
