.about-links {
  @apply flex flex-col items-center justify-center w-full gap-y-5 py-36 bg-cBackground;
  @apply dark:(bg-secondary/95);
  // .about-links__title

  &__title {
    @apply dark:text-white;
  }

  // .about-links__links

  &__links {}
}

.about-cards {
  @apply grid place-items-center w-full py-30;
}

.about-links-container {
  @apply flex flex-wrap gap-y-35 w-full max-w-[57.8125%];
}

.card {
  @apply flex w-full justify-between;
  // .card__content

  &__content {
    @apply max-w-2/5 w-full flex flex-col items-start gap-y-8;
  }

  // .card__title

  &__title {}

  // .card__text

  &__text {}

  // .card__image

  &__image {
    @apply rounded-md;
  }
}

.card:nth-of-type(2n)>.card__content {
  order: 2;
}


.about-stats {
  @apply grid w-full place-items-center py-25 bg-cBackground;
  // .about-stats__title

  &__title {}

  // .about-stats__stats

  &__stats {
    @apply flex justify-between items-center;
  }

  // .about-stats__stat

  &__stat {
  }

  &__stat-divider {
    width: 92px;
    height: 0px;
    border: 1px solid #C9DCEC;
    transform: rotate(90deg);
    &:last-of-type {
      display: none;
    }

  }
}

.about-stats-container {
  @apply flex flex-col items-center gap-y-15 w-full max-w-[57.8125%];
}
